<% include ../partials/header %>

<div class="container">
    <h1 style="text-align:center;">Create a New Campground</h1><br />
    <div class="row">
        <div style="width: 30%; margin:auto">
            <form method="post" action="/campgrounds">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input class="form-control" type="text" name="name" placeholder="add campground" />
                </div>
                <div class="form-group">
                    <label for="thumb_image">Thumb Image</label>
                    <input class="form-control" type="text" name="thumb_image" placeholder="add thumbnail image" />
                </div>
                <div class="form-group">
                    <label for="main_image">Main Image</label>
                    <input class="form-control" type="text" name="main_image" placeholder="add main image" />
                </div>
                <div class="form-group">
                    <label for="price">Price</label>
                    <input class="form-control" type="number" name="price" placeholder="add price" min="0.01" step="0.01" />
                </div>
                <div class="form-group">
                    <label for="location">Location</label>
                    <input class="form-control" type="text" name="location" placeholder="add location" />
                </div>
                <!--<div class="form-group">
                    <label for="location">Physical Address</label>
                    <input class="form-control" type="text" name="physical_address" placeholder="add physical address" />
                </div>-->
                <div class="form-group">
                    <label for="desc">Description</label>
                    <textarea class="form-control" name="desc" placeholder="add campground description"></textarea>
                </div>
                <div class="form-group">
                    <input class="btn btn-primary btn-lg btn-default btn-block" type="submit" />
                </div>
            </form>
        </div>
    </div>
</div>

<% include ../partials/footer %>